/Scripts/*
!/Scripts/.gitkeep
NOTES.md
VIGSt.nf
/.VIGSt.code-workspace

/work/
/.nextflow/
/.vscode/
/.nextflow.log*

/Run_complete/05_plants_mapping/index/
/Run_complete/05_plants_mapping/mapped/
/Run_complete/08_orthology/OrthoFinder_results/
/Run_complete/09_eggnog/eggnog_mapper/
/Run_complete/11_orthogroup_functional_enrichment/
/Viroid_Viridiplantae_transcriptomic/
/Viroid_Viridiplantae_transcriptomic_02/

/Non_NCBI_Data_TranscriptomicSamples_PlantGenomes/samples/*
/Non_NCBI_Data_TranscriptomicSamples_PlantGenomes/genomes/
/Non_NCBI_Data_TranscriptomicSamples_PlantGenomes/other_genomes/

*.bam
*.bai
*.fastq
*.fastq.gz
*.fasta
*_fastqc.zip
*.faa
*.fna
*.gtf
*.gff3
*.bt2

